<p id="notice"><%= notice %></p>

<h1>Store Inventory</h1>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Add New Stock</h4>
          </div>
          <div class="col-sm-6">
            <h5>Add an individual item</h5>
            <%= link_to 'Add', new_stock_path, class: 'btn btn-success spacer' %>
          </div>
          <div class="col-sm-6">
            <h5>Import from CSV</h5>

            <%= form_tag import_stocks_path, multipart: true do %>
              <%= file_field_tag :file, class: "file-upload" %>
              <%= submit_tag "Import", class: "btn btn-success" %>
            <% end %>
            <p>* File must be in CSV format (.csv)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table id="datatable" class="table display no-wrap">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Stock type</th>
      <th>Model</th>
      <th>Colour</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="<%= recently_updated(stock) ? '' : 'old' %>">
        <td><%= stock.brand %></td>
        <td><%= stock.stock_type %></td>
        <td><%= stock.model %></td>
        <td><%= stock.colour %></td>
        <td><%= number_to_currency(stock.price) %></td>
        <td><%= stock.quantity %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-success btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>* A yellow background means that the item hasn't been updated in over a month.</p>
